<!doctype html>
<html lang="pt-BR">

<head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> {% block head %}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </script>
    <script src="{% static 'js/all.js' %}"></script> {% endblock %}
    <title>{% block title %}Home{% endblock %}</title>
    <style>
        #main {
            padding: 1em;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Marmitaria</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>
                {% if perms.accounting.add_despesa %}
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounting">Resumo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounting/despesa">Despesas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/accounting/receita">Receitas</a>
                </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/logout?next=/">Logout</a>
                </li>
            </ul>
            {% endif %}
        </div>
    </nav>

    {% if messages %}
    <div class="messages">
        {% for message in messages %}
        <div class="alert alert-dismissable {{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ message }}
        </div>
        {% endfor %}
    </div>
    {% endif %}

    <div id="main" class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-12">
                {% block content %}{% endblock %}
            </div>
        </div>
    </div>

    {% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery-3.2.1.slim.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script> {% endblock %}
</body>
